body {
    background-color: #7bc212;
}

.scores, button {
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.scores {
    color: saddlebrown;
    padding: 10px;
}


table {
    border-spacing: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90vh;
}

button {
    width: 120px;
    height: 120px;
    background-color: orange;
    border: 2px solid #000;
    border-radius: 15%;
    text-align: center;
    color: white;
    transform-origin: top center;
}